{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | S'enregistrer {% endblock %}

{% block body %}


    <div class="container">

        <div class="row m-1">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 text-center">
                <h3>Nouvel Administrateur</h3>
                <p>Bonjour {{ app.user.pseudo }}, ici, tu peux créer un nouveau compte administrateur,
                    c'est-à-dire une personne qui, comme toi, peut modifier, créer ou supprimer des éléments de ce site.
                    N'oublie pas de noter l'e-mail et le mot de passe pour les communiquer à ton nouveau collègue,
                    il lui seront nécessaires pour se connecter ! </p>
            </div>
            <div class="col-lg-3"></div>
        </div>

        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="card text-bg-light">
                    <div class="card-body">

                        {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.pseudo) }}
                        {{ form_row(registrationForm.firstName) }}
                        {{ form_row(registrationForm.lastName) }}
                        {{ form_row(registrationForm.phone) }}
                        {{ form_row(registrationForm.avatar) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
{#                        {{ form_row(registrationForm.agreeTerms) }}#}

                        <button type="submit" class="btn btn-danger btn-sm">Enregistrer</button>
                        {{ form_end(registrationForm) }}


                        <p class="helpNote"> * Les champs marqués par un astérisque sont obligatoires </p>




                    </div>
                </div>



            </div>
            <div class="col-lg-3">
            </div>
        </div>

        <div class="row m-3">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <a href="{{ path('main_home') }}">
                    <button type="button" class="btn btn-secondary btn-sm">Retour à l'accueil</button></a>&nbsp;
            </div>
            <div class="col-lg-3"></div>
        </div>

    </div>





{% endblock %}
