{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} | Liste des étapes {% endblock %}

{% block body %}
    <img src="{{ asset('img/LogoDame.jpg') }}" alt="DAME">
    <h3>Liste de tous les arrêts enregistrés</h3>
    <div></div>
    <section>
        {% for stopList in stopsList %}
            <ul>
                <a href="{{path('stop_detail', {'id': stopList.id}) }}" alt="détail de l'étape"><li>{{  stopList.stopName }}</li></a>

            </ul>
        {% endfor %}


            <p></p>
            {#    following, the code Leaflet to display openstreetmap#}

{#            <div id="map"></div>#}
{#            <script>#}

{#                const map = L.map('map').setView([{{ stop.stopLatitude }}, {{ stop.stopLongitude }}], 12);#}

{#                const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {#}
{#                    maxZoom: 19,#}
{#                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'#}
{#                }).addTo(map);#}

{#                const marker = L.marker([{{ stop.stopLatitude }}, {{ stop.stopLongitude }}]).addTo(map);#}

{#                #}{#const circle = L.circle([{{ leg.startLegLatitude }}, {{ leg.startLegLongitude }}], #}{#}#}
{#                #}{#    color: 'red',#}
{#                #}{#    fillColor: '#f03',#}
{#                #}{#    fillOpacity: 0.5,#}
{#                #}{#    radius: 33#}
{#                #}{#}).addTo(map);#}

{#                #}{#var polygon = L.polygon([#}
{#                #}{#    [{{ leg.startLegLatitude }}, {{ leg.startLegLongitude }}],#}
{#                #}{#    [{{ leg.endLegLatitude }}, {{ leg.endLegLongitude }}],#}
{#                #}{#    [{{ leg.startLegLatitude }}, {{ leg.startLegLongitude }}]#}
{#                #}{#]).addTo(map);#}


{#                map.fitBounds(marker.getBounds());#}


{#            </script>#}

    </section>
{% endblock %}
