{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row m-1">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 text-center">
                <h3>Détail de l'étape : {{ stop.stopName }}</h3>
            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">

                <table class="table table-bordered table-light">

                    <tbody>
                    <tr>
                        <td class="text-end">Latitude : </td>
                        <td>  {{ stop.stopLatitude }}</td>
                    </tr>
                    <tr>
                        <td class="text-end">Longitude : </td>
                        <td> {{ stop.stopLongitude }}</td>
                    </tr>
                    <tr>
                        <td class="text-end">PlusCode : </td>
                        <td> {{ stop.stopPluscode }}</td>
                    </tr>
{#                    <tr>#}
{#                        <td class="text-end">Étape créée le : </td>#}
{#                        <td> {{ stop.dateCreatedStop |format_datetime() }}</td>#}
{#                    </tr>#}
                    <tr>
                        <td class="text-end">Étape créée le : </td>
                        <td> {{ stop.dateCreatedStop |format_datetime('full', 'none', locale='fr') }}</td>
                    </tr>
                    <tr>
                        <td class="text-end">Étape modifiée le : </td>
                        <td> {{ stop.dateModifiedStop | format_datetime ('full', 'none', locale='fr') }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-5">

                {#    following, the code Leaflet to display openstreetmap#}

                <div id="map"></div>
                <script>

                    const map = L.map('map').setView([{{ stop.stopLatitude }}, {{ stop.stopLongitude }}], 12);

                    const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 19,
                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    }).addTo(map);

                    const marker = L.marker([{{ stop.stopLatitude }}, {{ stop.stopLongitude }}]).addTo(map);

                    {#const circle = L.circle([{{ leg.startLegLatitude }}, {{ leg.startLegLongitude }}], {#}
                    {#    color: 'red',#}
                    {#    fillColor: '#f03',#}
                    {#    fillOpacity: 0.5,#}
                    {#    radius: 33#}
                    {#}).addTo(map);#}

                    {#var polygon = L.polygon([#}
                    {#    [{{ leg.startLegLatitude }}, {{ leg.startLegLongitude }}],#}
                    {#    [{{ leg.endLegLatitude }}, {{ leg.endLegLongitude }}],#}
                    {#    [{{ leg.startLegLatitude }}, {{ leg.startLegLongitude }}]#}
                    {#]).addTo(map);#}


                    map.fitBounds(marker.getBounds());


                </script>


            </div>

            <div class="col-lg-1">
            </div>
        </div>

        <div class="row m-3">
            <div class="col-lg-1"></div>
            <div class="col-lg-1 p-1">
                <a href="{{ path('admin_dashboard') }}">
                    <button type="button" class="btn btn-secondary btn-sm">Retour</button></a>&nbsp;
            </div>
            <div class="col-lg-1 p-1">
                <a href="{{ path('stop_modifyDetail', {'id': stop.id})  }}">
                    <button type="button" class="btn btn-success btn-sm">Modifier</button></a>&nbsp;
            </div>
            <div class="col-lg-8 p-1 border border-danger">
                <a href="{{ path('stop_deleteDetail', {'id': stop.id})  }}">
                    <button type="button" class="btn btn-danger btn-sm">Supprimer</button></a>&nbsp;
                Attenbzione Anttenzione Attenzione Attenbzione Anttenzione Attenzione
                Attenbzione Anttenzione Attenzione Attenbzione Anttenzione Attenzione
                Attenbzione Anttenzione Attenzione Attenbzione Anttenzione Attenzione
                Attenbzione Anttenzione Attenzione Attenbzione Anttenzione Attenzione
                Attenbzione Anttenzione Attenzione Attenbzione Anttenzione Attenzione
            </div>
            <div class="col-lg-1"></div>
        </div>

    </div>



{% endblock %}

{% block title %}
    {{ parent() }} | Détail de l'arrêt
{% endblock %}

