{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row m-1">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 text-center">
                <h3>Détail du parcours : {{ leg.legName }}</h3>
            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">

                <table class="table table-bordered  table-light">

                    <tbody>
                    <tr>
                        <td class="text-end">Point du départ : </td>
                        <td> {{ leg.startStop }}</td>
                    </tr>
                    <tr>
                        <td class="text-end">Point d'arrivée : </td>
                        <td> {{ leg.endStop }}</td>
                    </tr>
                    <tr>
                        <td class="text-end">Description : </td>
                        <td> {{ leg.legDescription }}</td>
                    </tr>
                    <tr>
                        <td class="text-end">Km : </td>
                        <td> {{ leg.legKilometers }}</td>
                    </tr>
                    <tr>
                        <td class="text-end">Le parcours est-il accessible ? </td>
                        <td> {{ leg.legAccessible? 'Oui':'Non' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-1">
            </div>
        </div>

        <div class="row m-3">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <a href="{{ path('leg_list') }}">
                    <button type="button" class="btn btn-secondary btn-sm">Retour</button></a>&nbsp;
            </div>
            <div class="col-lg-1"></div>
        </div>

    </div>


{#<h3>Détail du parcours</h3>#}
{#    Nom du parcours : {{ leg.legName }}#}
{#    Point du départ : {{ leg.startStop }}#}
{#    Point d'arrivée : {{ leg.endStop }}#}
{#    Description : {{ leg.legDescription }}#}
{#    km : {{ leg.legKilometers }}#}
{#    Le parcours est accessible? {{ leg.legAccessible }}#}
{% endblock %}

{% block title %}
    {{ parent() }} | Détail du parcours
{% endblock %}

