

<nav class="navbar navbar-expand-lg bg-light shadow-lg p-2 mb-3 bg-body ">
    <div class="container">
        <a class="navbar-brand" href="{{ path('main_home') }}" title="Accueil">
            <img src="{{ asset('img/LogoUstoppableTogether.png') }}" alt="Logo Dame" width="141" height="39"
                 class="d-inline-block align-text-top carlo">

        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Unstoppable Together</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('main_home') }}" title="Accueil">Accueil</a>
                    </li>

                    {% if app.user %}

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('user_profile') }}" title="Modifier son profil">Mon profil</a>
                        </li>

                    {% endif %}


                    {% if is_granted ("ROLE_ADMIN") %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Voyages
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('journey_list') }}"
                                   title="Liste des voyages enregistrés">Liste complète</a></li>
                            <li><a class="dropdown-item" href="{{ path('journey_create') }}"
                                   title="Création d'un nouveau voyage">Créer un voyage</a></li>
                            {#                            <li> #}
                            {#                                <hr class="dropdown-divider"> #}
                            {#                            </li> #}
                            {#                            <li><a class="dropdown-item" href="#">Something else here</a></li> #}
                            {#                        </ul> #}


                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Parcours
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('leg_list') }}" title="Liste des parcours enregistrés">Tous les parcours</a></li>
                            <li><a class="dropdown-item" href="{{ path('leg_create') }}" title="Création d'un nouveau parcours">Créer un nouveau parcours</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Etapes
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('stop_list') }}" title="Liste des étapes enregistrées">Toutes les étapes</a></li>
                            <li><a class="dropdown-item" href="{{ path('stop_create') }}" title="Création d'une nouvelle étape">Créer une nouvelle étape</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" title="Page admin">Admin</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_register') }}" title="Nouvel utilisateur">Créer un nouveau profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}" title="Se déconnecter">Se déconnecter</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}" title="Connecte toi">Login</a>
                    </li>
                    {% endif %}

                </ul>
                {#                            <div class="d-flex nav-item">testo à droite</div> #}

                {#  this shows avatar if user is connected #}
                {% if(app.user) %}
                    {% if(app.user.avatar) %}
                        <div class="avatarnav"
                             style="background-image: url('{{ asset('img/' ~ app.user.avatar) }}');">
                        </div>
                    {% else %}
                        <div class="avatarnav"
                             style="background-image: url('{{ asset('img/helmet.png') }}');">
                        </div>
                    {% endif %}
                {% endif %}
                {# end #}

            </div>
        </div>
    </div>
</nav>

{#        </div>#}
{#    </div>#}
{#</div>#}

{#        --- fine inserimento off canvas navbar #}

{#        <div class="collapse navbar-collapse" id="navbarSupportedContent"> #}
{#            <ul class="navbar-nav me-auto mb-2 mb-lg-0"> #}
{#                <li class="nav-item"> #}
{#                    <a class="nav-link active" aria-current="page" href="#">Home</a> #}
{#                </li> #}
{#                <li class="nav-item"> #}
{#                    <a class="nav-link" href="#">Link</a> #}
{#                </li> #}
{#                <li class="nav-item dropdown"> #}
{#                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> #}
{#                        Dropdown #}
{#                    </a> #}
{#                    <ul class="dropdown-menu"> #}
{#                        <li><a class="dropdown-item" href="#">Action</a></li> #}
{#                        <li><a class="dropdown-item" href="#">Another action</a></li> #}
{#                        <li><hr class="dropdown-divider"></li> #}
{#                        <li><a class="dropdown-item" href="#">Something else here</a></li> #}
{#                    </ul> #}
{#                </li> #}
{#                <li class="nav-item"> #}
{#                    <a class="nav-link disabled">Disabled</a> #}
{#                </li> #}
{#            </ul> #}

{#            <div class="d-flex">text à droite</div> #}

{#        </div> #}


{#    </div> #}
{# </nav> #}