{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row m-1">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 text-center">
                <h3>Un nouveau voyage</h3>
            </div>
            <div class="col-lg-1"></div>
        </div>

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="card text-bg-light">
                    <div class="card-body">

                        {{ form_start(journeyForm) }}
                        {{ form_row(journeyForm.journeyName) }}
                        {{ form_row(journeyForm.journeyDescription) }}

                        <div class="row">
                            <div class="col">
                                {{ form_row(journeyForm.journeyFirstLeg   ) }}
                            </div>

                            <div class="col">
                                {{ form_row(journeyForm.journeySecondLeg   ) }}
                            </div>

                        </div>

                        <div class="row">
                            <div class="col">
                                {{ form_row(journeyForm.journeyThirdLeg   ) }}
                            </div>

                            <div class="col">
                                {{ form_row(journeyForm.journeyFourthLeg   ) }}
                            </div>

                        </div>


                        <div class="row">
                            <div class="col">
                                {{ form_row(journeyForm.journeyFifthLeg   ) }}
                            </div>

                            <div class="col">
                                {{ form_row(journeyForm.journeySixthLeg   ) }}
                            </div>

                        </div>

                        <div class="row">
                            <div class="col">
                                {{ form_row(journeyForm.journeyDateStart   ) }}
                            </div>

                            <div class="col">

                            </div>

                        </div>

                        <p class="helpNote"> * Les champs marqués par un astérisque sont obligatoires </p>

                        <button type="submit" class="btn btn-success btn-sm">Enregistrer</button>
                        {{ form_end(journeyForm) }}
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
            </div>
        </div>

        <div class="row m-3">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <a href="javascript:history.go(-1)">
                    <button type="button" class="btn btn-secondary btn-sm">Retour</button></a>&nbsp;
            </div>
            <div class="col-lg-1"></div>
        </div>

    </div>






{% endblock %}

{% block title %}
    {{ parent() }} | Création d'un voyage
{% endblock %}

